@charset "UTF-8";

/*Asterisco representa as config. globais das CSS*/

body{
    background-image: linear-gradient(#E5E7AA, #D8DB82);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main{
    background-color: rgb(241, 239, 220);
    width: 580px;
    margin: auto;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 3px 3px 7px #4b3b476c
}

h1{
    color: #006D77;
    text-align: center;
    text-shadow: 2px 2px 6px #81e0e9a6;
}

h2{
    color: #b3313b;
}

p{
    text-align: justify;
    text-indent: 9px;
}