@charset "UTF-8";

@media screen and (max-width: 480px) {

    /*  MOBILE FIRST  */

        header, main{
        max-width: 480px;
        margin: 0 auto;
        }
        
        header{
            /* background-color: #4ae7ad; */
            font-size: .7em;
        }

        main{
            /* background-color: #0d734d; */
            font-size: 1.2em;
        }

        .mobile{
            display: block;
            text-align: center;
            font-size: 4em;
            color: #b0afaf96;
            font-weight: 600;
            animation: text-focus-in .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

        @keyframes text-focus-in {  
            0% {
            filter: blur(20px);
            opacity: 0;
            }
            100% {
            filter: blur(0px);
            opacity: 1;
            }
        }
}